# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/

*.user

Makefile

/build/
/CMakeCache.txt
/cmake_install.cmake
/CTestTestfile.cmake
/spicy
/tests
/tests[1]_include.cmake
/tests[1]_include.cmake
/tests[1]_tests.cmake
/tests[1]_include.cmake
/tests[1]_tests.cmake
/tests[1]_include.cmake
/tests[1]_tests.cmake
/tests[1]_include.cmake
/tests[1]_tests.cmake
